@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*La page d'accueil*/
.accueil{
    background:url(back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.entete{
    width:86%;
    display: flex;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
/*le logo*/
.entete .logo{
 width: 100px;
cursor: pointer;
margin-top:-3%;
border-radius: 15%;
margin-left: -3%;
transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  
  .entete .logo:hover {
    transition: 0.8s ease-in-out;
    box-shadow: 15px 15px 15px #d4cf86;
  }

  
/*les accueil,apropos,etc.*/
ul{
margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 7px;
   align-items: center;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding: 2px;
}
ul li a:hover{
    color:black;
    border-radius: 10%;
    background-color:#d4cf86;
}

.main .entete ul li{
font-weight: bold;
padding-top: 5%;
list-style: none;
position: relative;
}
/*Moi,Ce qui est au centre*/
.moi{
    text-align: center;
    margin-top:150px;
    margin-bottom: 150px;
}
.moi >h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(68, 67, 67);
font-size: 70px;
}
.moi p{
    font-size: 22px;
    line-height: 35px;
}
.moi .ouvert a{
text-decoration: none;
padding: 3px;
border: 2px solid rgb(197, 107, 33);
background: rgb(197, 107, 33);
color: white;
border-radius:12px;
font-size:20px;
}
.moi p span{
    font-size: 40px;
    color: rgb(197, 107, 33);
}
.moi .ouvert{
font-size: 17px;
font-family: 'Raleway', sans-serif;}
/*A propos*/
.apropos{
    background: url(trois.jpg);
background-repeat: no-repeat;
background-size:cover;
}
/*le a propos de moi*/
.apropos .leapropos{
    text-align: center;
    font-size: 42px;
    font-family: 'Bebas Neue' ,sans-serif;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-color: rgb(179, 153, 9, 0.808);
    color:rgb(179, 153, 9, 0.808) ;
}
.apropos .leapropos:hover{
    font-size: 46px;
    background-color: grey;
    color: white;
    border-color: black;
    font-family:monospace;
    cursor:pointer;
}
.ap1{
    width: 350px;
    height: 200px;
    background-color:rgb(243, 202, 209);
    margin-top: 30px;
    color:black;
    margin-left:20px;
    text-align:center;
    padding-top: 25px;
    box-shadow: 15px 15px 15px red;
    border-radius: 10px;
    opacity: 0.8;
    line-height: 25px;
    font-size: large;
}
.ap1 ul li b{
    font-size: 20px;
}
.ap2{
    max-width: 350px;
    height: 200px;
    background-color:skyblue;
    margin-top: 30px;
    color:black;
    text-align: left;
    padding-top: 25px;
    padding-left: 15px;
    margin: 60px auto;
    line-height:30px;
    box-shadow: 15px 15px 15px rgb(31, 28, 185);
    border-radius: 10px;
    opacity: 0.8;
    list-style-position: inside;
    font-family: Geneva, Verdana, sans-serif;
    font-size:large;
}
.ap2 p{
    text-align: center;
    padding: auto;
}
.ap1:hover{
   line-height: 35px;
    cursor: pointer;
    width: 400px;
    height: 250px;
    font-family: 'Kanit', sans-serif;

}
.ap2 p:hover{
    font-weight: bold;
    padding-left: 1px;
    cursor:default;
}
.ap2 ol :hover{
    line-height: 35px;
    cursor: pointer;
    width: 400px;
    text-shadow: 1px 1px 2px pink;
    font-size: 22px;
    font-weight: bold;
}
/*Contactez-moi*/
.contact{
    background:url(trois.jpg);
    background-repeat: no-repeat;
background-size:cover;
color:white;
}
.contactezmoi{
    text-align: center;
    margin:0 auto;
    opacity:1 ;
}
.contactezmoi h2{
padding-top: 150px;
font-size:35px;
font-family: 'Raleway', sans-serif;
}
.contactezmoi img{
    width: 40px;
    border-radius: 50%;
    margin: 30px 20px;
    background: transparent;
}
.contact p{
    color: rgba(179, 153, 9, 0.808);
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
